p{
color: rgb(43, 43, 40);
font-size: 34px;
max-width: 400px;



}

body
{
    background: url(bg.jpg);
   
    
    
}

ul {
  list-style-type: none;
  margin: 100px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(32, 61, 114);
 max-width: 806px;
 border-radius: 20px;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
  font-size: 24px;
  border-right: 2px solid #4aa0ac;
  border-left: 2px solid #4aa0ac;
  border-radius: 20px;

  
}

li{float: left;}

li a:hover {
  background-color: rgba(25, 137, 151, 0.521);
}

img{
  
  max-width: 1000px;
  max-height: 1000px;
  height: auto;
  width: auto;
border-radius: 40px;
opacity: .7;
float: right;
}



.buttons


{

display: flex;
justify-content: center;
align-items: center;


}
